<div class="background-image"></div>
<div id="login-page">

    <!-- login-form-start -->
    <div class="login-area change-password">

    <!-- title-area-start -->
    <div class="title-area">
        <h4>Graymatics</h4>
    </div>
    <!-- title-area-end -->

    <div class="form-title">
        <h4>Welcome! Please Register.</h4>
    </div>
    <p><alert></alert></p>
    <form role="form" data-toggle="validator" class="login common-style-form" (ngSubmit)="register(f.value, f.valid)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !organization.valid }">
        <label for="organization-name">Organization</label>
        <input  type="organization-name" 
                placeholder="organization"  
                class="form-control" 
                id="organization" 
                name="organization" 
                [(ngModel)]="user.organization" 
                #organization="ngModel" 
                required minlength="5" maxlength="24">
        <small [hidden]="organization.valid || (organization.pristine && !f.submitted)" class="text-danger">
            Organization is required (minimum 5 characters).
        </small>        
        </div>
        <div class="form-group">
        <label for="user-name">User Name</label>
        <input  type="user-name" 
                placeholder="User name" 
                class="form-control" 
                id="username" 
                name="username" 
                [(ngModel)]="user.username" 
                #username="ngModel" 
                required minlength="5" maxlength="24">
        <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
            Username is required (minimum 5 characters).
        </small>
        </div>
        <div class="form-group">
        <label for="email-id">Email Id</label>
        <input type="email" 
                class="form-control"  
                name="email" 
                id="email" 
                [(ngModel)]="user.email" 
                #email="ngModel" 
                placeholder="Email" 
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                required>
        <div class="help-block with-errors"></div>
        <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
            Email is required and format should be <i>john@doe.com</i>.
        </small>
        </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input  type="password" 
                class="form-control" 
                id="password" 
                [(ngModel)]="user.password"
                placeholder="Password"
                name="password" 
                minlength="8" maxlength="24"
                required validateEqual="confirmPassword" reverse="true" #password="ngModel">
        <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
            Password is required (minimum 8 characters)
        </small>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Confirm password</label>
            <input  type="password" 
                    data-minlength="8"
                    class="form-control" 
                    id="confirmPassword" 
                    [(ngModel)]="user.confirmPassword"
                    placeholder="Confirm Password"
                    name="confirmPassword" 
                    minlength="8" maxlength="24"
                    required validateEqual="password" reverse="false" #confirmPassword="ngModel">
            <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                Password mismatch 
            </small>
        </div>
        <div class="reset-btn">
        <button type="submit" class="form-btn btn" value="submit" data-toggle="modal" data-target="#myModal">Register</button>
        </div>
    </form>
    </div>
    <!-- login-form-end -->
</div>

 