<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/vue-navigation-bar@1.0.9/dist/vue-navigation-bar.css" />
    <title>Document</title>
</head>

<body>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <div id="app">
        <div class="navbar">
            <div class="colum">
                <div class="home">
                    <i class="lni-home size-md " :class=" { 'lni-tada-effect' : showHome } " id="home"
                        @click="showHome = !showHome"></i>
                    <h4 v-if="showHome" style="margin-top: 8px; color: #ffff;"> Home </h4>
                </div>

                <div class="check">
                    <i class="lni-check-mark-circle size-md" :class=" { 'lni-tada-effect' : showCheck } " id="check"
                        @click="showCheck = !showCheck"></i>
                    <h4 v-if="showCheck" style="margin-top: 8px; color: #ffff;"> Check </h4>
                </div>

                <div class="coin">
                    <i class="lni-coin size-md" :class=" { 'lni-tada-effect' : showCoin } " id="coin"
                        @click="showCoin = !showCoin"></i>
                    <h4 v-if="showCoin" style="margin-top: 8px; color: #ffff;"> Coin </h4>
                </div>

                <div class="user">
                    <i class="lni-user size-md" :class=" { 'lni-tada-effect' : showUser } " id="user"
                        @click="showUser = !showUser"></i>
                    <h4 v-if="showUser" style="margin-top: 8px; color: #ffff;"> User </h4>
                </div>
            </div>
        </div>
    </div>
    <section class="section section-top-title">
        <div class="content rellax" data-rellax-speed="5">
            <h1 class="main-header-text">Data-driven video analytics</h1>
        </div>
    </section>
    <section class="section section-top"></section>
    <section class="section section-stream">
        <img class="play rellax" src="https://i.ibb.co/TvdbMhQ/play-button.png" alt="" data-rellax-speed="-1"
            data-rellax-xs-speed="-5" />
        <div class="content rellax" data-rellax-speed="10">
            <div>
                <h2 class="secondary-text">Stream Everything</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
                    dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
                </p>
            </div>
            <div>
                <h2 class="secondary-text">Short is the New Long</h2 class="secondary-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
                    dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
                </p>
            </div>
        </div>
    </section>

    <section class="section section-grid">
        <div class="rellax" data-rellax-speed="1" data-rellax-xs-speed="3">
            <i class="fas fa-video fa-3x secondary-text"></i>
            <h2>Watch<span class="secondary-text dot">.</span></h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
                dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
            </p>
        </div>
        <div class="rellax" data-rellax-speed="4" data-rellax-xs-speed="3">
            <i class="fas fa-users fa-3x secondary-text"></i>
            <h2>Share<span class="secondary-text dot">.</span></h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
                dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
            </p>
        </div>
        <div class="rellax" data-rellax-speed="7" data-rellax-xs-speed="3">
            <i class="fas fa-book fa-3x secondary-text"></i>
            <h2>Learn<span class="secondary-text dot">.</span></h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore et
                dicta consectetur incidunt omnis nam quis quidem nisi ipsa deserunt.
            </p>
        </div>
    </section>

    <footer class="footer">
        <ul>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Notice</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js"
            integrity="sha256-+xf9aJnHocnmrigq2hIDJGBSAnJdF5NH+Ooe5J2PHiI=" crossorigin="anonymous">
            </script>
        <script>
            let rellax = new Rellax('.rellax');
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
        <script src="https://unpkg.com/vue-navigation-bar@1.0.9/dist/vue-navigation-bar.min.js"></script>
        <script>
            let vue = new Vue({
                el: '#app', // allows globally registered components to be used in html above
                data: {
                    showHome: false,
                    showCheck: false,
                    showCoin: false,
                    showUser: false,
                    effect: 'lni-tada-effect'
                },
                methods: {
                }
            });
        </script>
</body>

</html>