/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); */

:root {
	--primary-color: #060026;
	--secondary--color: #f5c42f;
	--text-color: #c5bbec;
}

/* simple reset */
/* border-box accounts for border and padding */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	background: var(--primary-color);
	color: #fff;
	font-size: 18px;
	line-height: 1.6;
}

h1,
h2,
h3,
p {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style: none;
}

.btn {
	display: inline-block;
	border: 0;
	background: var(--secondary--color);
	color: #fff;
	border-radius: 20px;
	padding: 8px 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.btn:hover {
	transform: scale(0.98);
}

.primary-text {
	color: var(--primary-color);
}

.secondary-text {
	color: var(--secondary--color);
}

.section {
	position: relative;
	padding: 0 20px;
}

/* Section Top */
.section-top-title {
	position: absolute;
	font-size: 45px;
	top: 12%;
	right: 1.5%;
	line-height: 0.8;
	z-index: 2;
}

.section-top {
	min-height: 580px;
	position: relative;
	background: url('img/banner_red.jpg') no-repeat center center/cover;
	opacity: 80%;
}

.section-top::after{
	content: '';
	background: var(--primary-color);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 50%;
}

.section-top h1 {
	position: absolute;
	font-size: 70px;
	line-height: 0;
}

.section-top .content {
	position: absolute;
	top: 100px;
	right: 20px;
	width: 55%;
}

/* Section Stream */
.section-stream {
	min-height: 700px;
	background: url('https://i.ibb.co/bsX6RV0/bg2.png') no-repeat center center/cover;
}

.section-stream h2 {
	font-size: 35px;
}

.section-stream .play {
	width: 27%;
	position: absolute;
	top: 100px;
	left: 50px;
}

.section-stream .content {
	position: absolute;
	width: 50%;
	top: 130px;
	right: 70px;
}

.section-stream .content > div, .section-grid > div {
	background: rgba(255, 255, 255, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

/* Section Grid */
.section-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.section-grid p {
	color: var(--text-color);
}

.section-grid .dot {
	font-size: 40px;
	padding-left: 2px;
}

/* Footer */
.footer {
	border-top: var(--text-color) 1px solid;
	padding: 30px;
	margin-top: 20px;
}

.footer ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
	.section-top .content,
	.section-stream .play,
	.section-stream .content {
		position: static;
		width: 100%;
	}

	.section-top {
		min-height: 200px;
		padding-top: 20px;
	}

	.section-top .content {
		text-align: center;
	}

	.section-top .content h1 {
		font-size: 45px;
	}

	.section-stream {
		min-height: 400px;
	}

	.section-stream .play {
		width: 50%;
		display: block;
		margin: 30px auto;
	}

	.section-grid {
		display: block;
		margin-top: 0;
	}

	.footer ul {
		display: block;
	}
}

/*TEST*/

.navbar{
	width: 100%;
	height: 60px;
	top: 10px;
	background-color: var(--primary-color);
}
#home{
  margin-left: 0;
  margin-top: 10px;
  color: #ffff;
  transition: width 0.5s, background-color 0.5s, border-radius 0.5s;
}
#check{
  margin-left: 0;
  margin-top: 10px;
  color: #ffff;
  transition: width 0.5s, background-color 0.5s, border-radius 0.5s;
}
#coin{
  margin-left: 0;
  margin-top: 10px;
  color: #ffff;
  transition: width 0.5s, background-color 0.5s, border-radius 0.5s;
}
#user{
  margin-left: 0;
  margin-top: 10px;
  color: #ffff;
  transition: width 0.5s, background-color 0.5s, border-radius 0.5s;
}
.colum{
  display: flex;
  width: 95%;
  height: 40px;
  margin-left: 10px;
  
}
.home{
  width: 80px;
  height: 34px;
  margin-left: 20px;
  display: flex;
}
.check{
  width: 80px;
  height: 34px;
  margin-left: 20px;
  display: flex;
}
.coin{
  width: 80px;
  height: 34px;
  margin-left: 20px;
  display: flex;
}
.user{
  width: 80px;
  height: 34px;
  margin-left: 20px;
  display: flex;
}
.clicked{
  width: 100px;
  height: 34px;
  background-color: #feca57;
  border-radius: 10px;
  transition: background-color 0.3s, border-radius 0.5s, width 0.5s;
}

img {
    max-width:100%;
    height:auto;
}