.change-password {
  top: 50%;
}
.trips {
  font-size: 13px;
  color: #596a80;
  opacity: 0.6;
}
.trips ul {
  padding-left: 15px;
}
.trips ul li {
  list-style-type: decimal;
  padding-top: 5px;
  font-size: 14px;
  line-height: 25px;
}
