<!-- header-start -->
<header class="admin-header">
    <div class="container-fluid">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>            
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
        <ul class="nav navbar-nav">
            <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li>
                    <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li>
                    <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li>
                    <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li>
                    <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                  </ul>
              </li>
              <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                  <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                  <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
              </li>
              <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li>
        </ul>
        </div><!--/.nav-collapse -->

        <div class="mobile-arrange">
            <div id="sb-search" class="sb-search sb-search-open">
            <form (ngSubmit)="search()" #f="ngForm" novalidate>
                <input class="sb-search-input" placeholder="Search here..." name="search" id="keyword" [(ngModel)]="keyword" type="search">
                <input class="sb-search-submit" value="" type="submit">
                <span class="sb-icon-search"><img src="../../../images/search-icon.png" alt=""></span>
            </form>
            </div>

            <div class="dropdown profile-menu">
                <img src="../../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
                <ul class="dropdown-menu">
                    <li><a>{{currentUser}}</a></li>
                    <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
                </ul>
            </div>
        </div>

    </div><!--/.container-fluid -->
    </nav>
    </div><!--/.main container-fluid --> 
</header>
    <!-- header-end -->

<!-- admin-page-content-start -->
<div class="admin-page-content camera-view-page-content notification-agent">
  

  <div class="user-list-cta" id="addcamera">
    <button id="editid" type="button" class="admin-btn edit-btn active" *ngIf="addBtn" data-toggle="modal" data-target="#configNotificationModel">Add</button>
  </div>
  
  <div class="user-list-cta" *ngIf="savebtnrow" >
    <button id="save" type="button" class="admin-btn edit-btn active" (click)="update_config_notification()">Save</button>
    <button id="delete" type="button" class="admin-btn edit-btn active" (click)="delete_config_notification()">Delete</button>
    <!-- <button id="editid" type="button" class="admin-btn edit-btn active">Delete</button> -->
    <button id="cancel" type="button" class="admin-btn delete-btn" (click)="cancelselection()">Cancel</button>
  </div>

  <div class="user-list-area editable-list">
    <table class="table" id="agentTable">
      <thead>
      <tr>
        <th>feature</th>
        <th>display on tab</th>
        <th>rule</th>
        <th class="text-center">green</th>
        <th class="text-center">yellow</th>
        <th class="text-center">red</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of events, let i = index"
            (click)="tablerowselection($event,i,e._id,e.camera_id)" 
            [ngClass]="{'active': selectedItem == i}">
          <td>
            <div class="selecter">
              <a class="btn btn-select" style="width: 184px;">
                <input type="hidden" class="btn-select-input" id="" name="" value="">
                <span class="btn-select-value">{{ e.feature }}</span>
                <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                <ul style="display: none;" class="sentencecase">
                  <li (click)="change_feature('People Analytics')">people analytics</li>
                  <li (click)="change_feature('Vehicle Analytics')">vehicle analytics</li>
                  <li (click)="change_feature('Intrucsion Detection')">intrucsion detection</li>
                </ul>
              </a>
            </div>    
          </td>
          <td>
            <div class="selecter">
              <a class="btn btn-select" style="width: 224px;">
                <input type="hidden" class="btn-select-input" id="" name="" value="">
                <span class="btn-select-value">{{ e.dot }}</span>
                <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                <ul style="display: none;" class="sentencecase">
                  <li (click)="change_dot('People Count')">people count</li>
                  <li (click)="change_dot('Crowd Detection')">crowd detection</li>
                  <li (click)="change_dot('Demographics Detection')">demographics detection</li>
                  <li (click)="change_dot('Vehicle Count')">vehicle count</li>
                  <li (click)="change_dot('Make and Models')">make and models</li>
                  <li (click)="change_dot('Registration Number')">registration number</li>
                  <li (click)="change_dot('Intrusion')">intrusion</li>
                </ul>
              </a>
            </div>    
          </td>
          <td>
            <div class="input-group col-xs-6">
              <span class="input-group-addon">Increment of</span>
              <input type="number" class="form-control" maxlength="3" name="msg" value="{{e.rule}}" (keyup)="change_rule($event.target.value)">
            </div> 
          </td>
          <td class="text-center">
            <label class="nfncontainer" *ngIf="e.color == 'green';else greenDefault" >
              <input type="radio" name="color_{{e._id}}" value="green" checked="checked">
              <span class="nfncheckmark"></span>
            </label>
            <ng-template #greenDefault>
              <label class="nfncontainer">
                <input type="radio" name="color_{{e._id}}" value="green" >
                <span class="nfncheckmark"></span>
              </label>
            </ng-template>
          </td>
          <td class="text-center">
            <label class="nfncontainer" *ngIf="e.color == 'yellow';else yellowDefault">
              <input type="radio" name="color_{{e._id}}" value="yellow" checked="checked" >
              <span class="nfncheckmark"></span>
            </label>
            <ng-template #yellowDefault>
              <label class="nfncontainer" >
                <input type="radio" name="color_{{e._id}}" value="yellow" >
                <span class="nfncheckmark"></span>
              </label>
            </ng-template>
          </td>
          <td class="text-center">
            <label class="nfncontainer" *ngIf="e.color == 'red';else redDefault">
              <input type="radio" name="color_{{e._id}}" value="red" checked="checked" >
              <span class="nfncheckmark"></span>
            </label>
            <ng-template #redDefault>
              <label class="nfncontainer" >
                <input type="radio" name="color_{{e._id}}" value="red" (click)="change_color('red')">
                <span class="nfncheckmark"></span>
              </label>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- admin-page-content-end -->
<!-- vehicle-blacklist-area-end -->

<!-- notification-popup-code -->
<div id="configNotificationModel" class="cmn-modal-body popup-style modal fade" role="dialog" #configNotificationModel>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="modal-title">Config notification</h4>
                </div>
                <div class="col-sm-8">
                    <span class="alert-danger">{{config_nfn_error}}</span>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="add-new-list">
            <ul>
                <li>
                <div class="camera_info">
                    <div class="label-area">
                    Camera Name
                    </div>
                    <div class="camera-type-list">
                    <div class="selecter camera-type-selecter">
                        <a class="btn btn-select">
                        <input type="hidden" class="btn-select-input" id="" name="" value="">
                        <span class="btn-select-value">Select camera name</span>
                        <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                        <ul class="sentencecase" style="display:none">
                            <li *ngFor="let c of cams" (click)="selected_cam(c._id)">{{c.name}}</li>
                        </ul>
                        </a>
                    </div>
                    </div>
                </div>
                </li>
            </ul>
            </div>
            <div class="user-list-area editable-list">
                <table class="table" id="agentTable">
                  <thead>
                  <tr>
                    <th>feature</th>
                    <th>display on tab</th>
                    <th>rule</th>
                    <th class="text-center">green</th>
                    <th class="text-center">yellow</th>
                    <th class="text-center">red</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <label class="nfncontainer">People Analytics
                            <input type="radio" name="feature" value="People Analytics" [(ngModel)]="nfn.feature">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td>
                          <label class="nfncontainer">People Count
                            <input type="radio" name="dot" value="People Count" [(ngModel)]="nfn.dot">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td>
                          <div class="input-group col-xs-8">
                            <span class="input-group-addon">Increment of</span>
                            <input type="number" class="form-control" maxlength="3" name="msg" #peopleRule>
                          </div> 
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="PCgreen" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="PCyellow" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="PCred" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label class="nfncontainer">Vehicle analytics
                            <input type="radio" name="feature" value="Vehicle Analytics" [(ngModel)]="nfn.feature">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td>
                          <label class="nfncontainer">Crowd Detection
                            <input type="radio" name="dot" value="Crowd Detection" [(ngModel)]="nfn.dot">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td>
                          <div class="input-group col-xs-8">
                            <span class="input-group-addon">Increment of</span>
                            <input type="number" class="form-control" maxlength="3" name="msg" #vehicleCdRule>
                          </div>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="CDgreen" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="CDyellow" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="CDred" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <label class="nfncontainer">Intrusion Detection
                            <input type="radio" name="feature" value="Intrusion Detection" [(ngModel)]="nfn.feature">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td>
                          <label class="nfncontainer">Intrusion Detection
                            <input type="radio" name="dot" value="Intrusion Detection" [(ngModel)]="nfn.dot">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td>
                          <div class="input-group col-xs-8">
                            <span class="input-group-addon">Increment of</span>
                            <input type="number" class="form-control" maxlength="3" name="msg" #idRule>
                          </div> 
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="IDgreen" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="IDyellow" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="IDred" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                    </tr>
                    <tr>
                      <td>
                       
                      </td>
                      <td>
                        <label class="nfncontainer">Vehicle Count
                          <input type="radio" name="dot" value="Vehicle Count" [(ngModel)]="nfn.dot">
                          <span class="nfncheckmark"></span>
                        </label>
                      </td>
                        <td>
                          <div class="input-group col-xs-8">
                            <span class="input-group-addon">Increment of</span>
                            <input type="number" class="form-control" maxlength="3" name="msg" #vehicleCountRule>
                          </div>  
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="VCgreen" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="VCyellow" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="VCred" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        
                        </td>
                        <td>
                          <label class="nfncontainer">Registration Number
                            <input type="radio" name="dot" value="Registration Number" [(ngModel)]="nfn.dot">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td>
                          <div class="input-group col-xs-8">
                            <span class="input-group-addon">Increment of</span>
                            <input type="number" class="form-control" maxlength="3" name="msg" #registrationNumberRule>
                          </div> 
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="RNgreen" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="RNyellow" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="RNred" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                        </td>
                        <td>
                          <label class="nfncontainer">Make And Models
                            <input type="radio" name="dot" value="Make And Models" [(ngModel)]="nfn.dot">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td>
                          <div class="input-group col-xs-8">
                            <span class="input-group-addon">Increment of</span>
                            <input type="number" class="form-control" maxlength="3" name="msg" #mnmRule>
                          </div> 
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="MMgreen" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="MMyellow" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                        <td class="text-center">
                          <label class="nfncontainer">
                            <input type="radio" name="color" value="MMred" [(ngModel)]="nfn.color">
                            <span class="nfncheckmark"></span>
                          </label>
                        </td>
                    </tr>
                  </tbody>
                </table>  
              </div>
        </div>
        <div class="modal-footer">
            <button id="saveid" type="button" class="admin-btn edit-btn active" (click)="add_notification_list()">save</button>
        </div>
        </div>
    </div>
</div>
<!-- popup-code -->
<!-- Modal -->
<section class="breadcrumbs"> 
  <div class="container-fluid">
    <ul>
        <li><a href="">Configuration</a></li>
      <li class="active"><a href="">Notifications</a></li>
      <!-- <li><a href="">Camera</a></li>
      <li class="active"><a href="">Add Camera</a></li> -->
    </ul>
  </div>
</section>
