 <!-- header-start -->
    <header>
      <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" [routerLink]="['/supervisor/dashboard/agent-view']">Graymatics</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
              <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li>
                    <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li>
                    <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li>
                    <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li>
                    <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                  </ul>
              </li>
              <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                  <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                  <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
              </li>
              <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li>
            </ul>
          </div><!--/.nav-collapse -->

          <div class="mobile-arrange">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Search here..." type="search" name="search" id="awesome-input">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"><img src="../../../images/search-icon.png" alt=""></span>

                <div class="awesome-results">
                  <ul class="collection">
                   <li class="collection-item">yellow shirt</li>
                   <li class="collection-item">yellow car</li>
                   <li class="collection-item">yellowish</li>
                  </ul>
                </div>

              </form>
            </div>

            <div class="dropdown profile-menu">
              <img src="../../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
              <ul class="dropdown-menu">
                <li><a href="#">Edit Account</a></li>
                <li><a href="#">Sign out</a></li>
              </ul>
            </div>
          </div>

        </div><!--/.container-fluid -->
      </nav>
      </div><!--/.container-fluid -->
    </header>
    <!-- heder-end -->

      <div id="wrapper">

        <!-- menu-exm-end -->

      <div id="page-content-wrapper" class="notification-area">      

        <!-- page-area-start -->
        <div class="page-content">
          <div class="container-fluid">
          <!-- tab-design-start -->
            <div id="notification-tab" class="filter-tab col-lg-6"> 
              <ul class="nav nav-tabs">
                  <li class="red-notified">
                    <a href="#1" data-toggle="tab">10 (8)</a>
                  </li>
                  <li class="yellow-notified"><a href="#2" data-toggle="tab">8 (5)</a>
                  </li>
                  <li class="green-notified"><a href="#3" data-toggle="tab">15 (2)</a>
                  </li>
              </ul>
            </div>
          <!-- tab-design-end -->
            
            <div class="all-cameras">

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 full-size" *ngFor="let n of notification_list">
                <div class="post-area">
                  <div class="video-area chaeck-bg">
                    <img src="{{n.frame}}" class="img-responsive" alt="" />
                  </div>
                  <div class="post-title-area">
                    <h4>{{n.camera_name}}</h4>
                  </div>
                </div>
              </div>
             
            </div>
     
        </div>
        <!-- page-area-end -->

      </div>
    </div>
    <!-- section-breadcumbs-start -->
    <section class="breadcrumbs"> 
      <div class="container-fluid">
        <ul>
            <li class="active"><a href="#" [routerLink]="['/supervisor/dashboard/agent-view']">Configuration</a></li>
          <li><a>single-camera-view</a></li>
          <!-- <li><a href="">Camera</a></li>
          <li class="active"><a href="">Add Camera</a></li> -->
        </ul>
      </div>
    </section>