<!-- header-start -->
    <header>
      <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
              <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <!-- <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li>
                    <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li>
                    <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li>
                    <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                  </ul>
              </li>
              <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                  <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                  <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
              </li>
              <!-- <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li> -->
              
            </ul>
          </div><!--/.nav-collapse -->

          <div class="mobile-arrange">
            <div id="sb-search" class="sb-search sb-search-open">
              <form (ngSubmit)="search('',1)" #f="ngForm" novalidate>
                <input class="sb-search-input" placeholder="Search here..." name="search" id="keyword" [(ngModel)]="keyword" type="search">
                <input class="sb-search-submit" value="" type="submit">
                <span class="sb-icon-search"><img src="../../../images/search-icon.png" alt=""></span>
              </form>
            </div>

            <div class="dropdown profile-menu">
              <img src="../../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
              <ul class="dropdown-menu">
                <li><a>{{currentUser}}</a></li>
                <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
              </ul>
            </div>
          </div>

        </div><!--/.container-fluid -->
      </nav>
      </div><!--/.container-fluid -->
    </header>
    <!-- heder-end -->

      <div id="wrapper" [class.toggled]="isParaActive">

        <!-- menu-exm-start -->
        <div id="sidebar-wrapper">
          <a (click)="menuToggle($event)" [class.toggled]="isBtnActive" id="menu-toggle">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>

          <!-- tab-option-start -->
          <div class="tab-notification-area">

            <div id="notification-tab"> 
                <ul class="nav nav-tabs" [class.red-border]="red_border" [class.green-border]="green_border" [class.yellow-border]="yellow_border">
                    <li class="red-notified" (click)="red_border=true;yellow_border=false;green_border=false" 
                        [class.active]="red" *ngIf="red_count.count;else redDefaultCount">
                      <a href="#1" data-toggle="tab">{{red_count.count}} ({{red_action_count.count}})</a>
                    </li>
                    <ng-template #redDefaultCount>
                        <li class="red-notified" 
                            (click)="red_border=true;yellow_border=false;green_border=false"
                            [class.active]="red"><a href="#1" data-toggle="tab">0</a></li>
                    </ng-template>
                    <li class="yellow-notified"  
                        (click)="red_border=false;yellow_border=true;green_border=false"
                        [class.active]="yellow" *ngIf="yellow_count.count;else yellowDefaultCount">
                      <a href="#2" data-toggle="tab">{{yellow_count.count}} ({{yellow_action_count.count}})</a>
                    </li>
                    <ng-template #yellowDefaultCount>
                      <li class="yellow-notified" 
                          (click)="red_border=false;yellow_border=true;green_border=false"
                          [class.active]="yellow"><a href="#2" data-toggle="tab">0</a></li>
                    </ng-template>
                    <li class="green-notified" 
                        (click)="red_border=false;yellow_border=false;green_border=true"
                        [class.active]="green" *ngIf="green_count.count;else defaultCount">
                      <a href="#3" data-toggle="tab">{{green_count.count}} ({{green_action_count.count}})</a>
                    </li>
                    <ng-template #defaultCount>
                      <li class="green-notified" 
                          (click)="red_border=false;yellow_border=false;green_border=true"
                          [class.active]="green"><a href="#3" data-toggle="tab">0</a></li>
                    </ng-template>
                </ul>
  

              <div class="tab-content">
                <div class="tab-pane" id="1">

                </div>

                <div class="tab-pane" id="2">
                
                </div>

                <div class="tab-pane active" id="3">

                </div>
              </div>
            </div>

          </div>
          <!-- tab-option-end -->
        </div>
        <!-- menu-exm-end -->

      <div id="page-content-wrapper" class="notification-area">      

        <!-- page-area-start -->
        <div class="page-content">
          <div class="container-fluid">
              <div class="big-size" [class.show-big-video]="size">
                <div class="col-md-12">
                  <div class="video-placeholder">
                    <img [src]="fullFrameSrc" class="img-responsive" />
                  </div>
                  <div class="video-info">
                    <h4>Conference Room</h4>
                    <a href="javascript:void(0)" class="zoom-out" (click)="fullScreen($event,'')">
                      <img src="../../../images/zoom-out.png" class="pull-right" alt="zoom out icon"/>
                    </a>
                  </div>
                </div>
              </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

              <div class="all-cameras intrusion-select" [class.camera-views]="all">

                <!-- video-channel-start -->
                <div class="video-channel">

                  <div class="intrusion-video-area">
                    <img id="frame_{{videoDetails._id}}" src="{{videoDetails.frame}}" alt="timeline" class="img-responsive" >
                    <!-- <a href="javascript:void(0)" (click)="resetLargeImage($event)" class="videoscreen-close-btn"></a> -->
                    <!-- <div class="video-timeline">
                      <img src="../../../images/timeline.png" alt="timeline" class="img-responsive" >
                    </div> -->
                  </div>
                  <div class="intrusion-details">
                    <ul>
                      <li>
                        <div class="col-md-6">
                          <div class="function-name">Camera Type</div>
                        </div>
                        <div class="col-md-6">
                          <div class="function-name-value">Entrance and Exit</div>
                        </div>
                      </li>
                      <li>
                        <div class="col-md-6">
                          <div class="function-name">Camera Name</div>
                        </div>
                        <div class="col-md-6">
                          <div class="function-name-value">{{videoDetails.name}}</div>
                        </div>
                      </li>
                      <li>
                        <div class="col-md-6">
                          <div class="function-name">Resolution</div>
                        </div>
                        <div class="col-md-6">
                          <div class="function-name-value">720x1280</div>
                        </div>
                      </li>
                      <li>
                        <div class="col-md-6">
                          <div class="function-name">GPS</div>
                        </div>
                        <div class="col-md-6">
                          <div class="function-name-value">Enabled</div>
                        </div>
                      </li>
                      <li>
                        <div class="col-md-6">
                          <div class="function-name">FPS</div>
                        </div>
                        <div class="col-md-6">
                          <div class="function-name-value">{{videoDetails.fps}}</div>
                        </div>
                      </li>
                      <li>
                        <div class="col-md-12">
                          <div class="function-name">Camera URL</div>
                          <div class="function-name-value links">
                            <a href="javascript:void(0)">
                              {{videoDetails.source}}
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>

                    <!-- <div class="video-upload-status">
                      <h5>Last 2 days (4 alerts)</h5>
                    </div> -->

                  </div>
                </div>
                <!-- video-channel-end -->

                <!-- notification-msg-start -->
                <div id="thumbs" class="notification-messages-error row">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 full-size" *ngFor="let n of notification_list, let i = index">
                    <div class="post-area" 
                      [ngClass]="{'active': selectedItem == i}"
                      (click)="selectFrame($event,i,n.frame)">
                      <div class="video-area">
                        <img src="{{n.frame}}" class="img-responsive" alt=""/>
                        <div class="zoom-icon" (click)="fullScreen($event,n.frame)">
                          <a href="javascript:void(0)" class="video-show"></a>
                        </div>
                      </div>
                      <div class="green intrusion-video-info extra_padding">
                        <p>{{n.message}}</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

          </div>
        </div>
        <!-- page-area-end -->

      </div>
    </div>
    <section class="breadcrumbs"> 
      <div class="container-fluid">
        <ul>
          <li class="active"><a href="#" [routerLink]="['/']">Home</a></li> 
          <li><a href="#">security-camera-view</a></li> 
          <!-- <li><a href="">Configuration</a></li>
          <li><a href="">Camera</a></li>
          <li class="active"><a href="">Add Camera</a></li> -->
        </ul>
      </div>
    </section>