<!-- header-start -->
    <header>
      <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
              <!-- <li><a href="#">Forensic Search</a></li> -->
              <!-- 29-01-2018 added configuration section in security agent for now -->
              <li class="top-brd">
                <a href="#">Archived Videos</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/add']">Submit image/video</a></li>
                  </ul>
              </li>
              <!-- <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li>  -->
            </ul>
          </div>
          <!--/.nav-collapse -->

          <div class="mobile-arrange">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Search here..." type="search" name="search" id="awesome-input">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"><img src="../../images/search-icon.png" alt=""></span>

                <div class="awesome-results">
                  <ul class="collection">
                   <li class="collection-item">yellow shirt</li>
                   <li class="collection-item">yellow car</li>
                   <li class="collection-item">yellowish</li>
                  </ul>
                </div>

              </form>
            </div>

            <div class="dropdown profile-menu">
              <img src="../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
              <ul class="dropdown-menu">
                <li><a>{{currentUser}}</a></li>
                <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
              </ul>
            </div>
          </div>

        </div><!--/.container-fluid -->
      </nav>
      </div><!--/.main container-fluid --> 
    </header>
    <!-- header-end -->

       
  <!-- admin-page-content-start -->
  <div class="admin-page-content camera-view-page-content">

    <div class="user-list-area editable-list">
      <table class="table">
        <thead>
          <tr>
            <th>file name</th>
            <th>date of upload</th>
            <th>time of upload</th>
            <th>file path</th>
            <th class="text-center">status</th>
            <th class="text-center">json</th>
            <th class="text-center">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cams" id="cam_{{c.camera_id}}">
            <td><a target="_blank" style="text-decoration: underline;" href="{{c.source}}">{{c.name}}</a></td>
            <td>{{c.created_dtime | date: 'yyyy-MM-dd' }}</td>
            <td>{{c.created_dtime | date: 'hh:mm' }}</td>
            <td>http://192.168.128.117:9000/smart-surveillance/live-api/{{c.user_id}}/{{c.camera_id}}/{{c.camera_id}}.json</td>
            <td class="text-center">{{c.status}}</td>
            <td class="text-center"><a target="_blank" style="text-decoration: underline;color:blue" href="http://192.168.128.117:9000/smart-surveillance/live-api/{{c.user_id}}/{{c.camera_id}}/{{c.camera_id}}.json">download</a></td>
            <td class="text-center">
              <a style="cursor:pointer" (click)="delete_camera(c.camera_id)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a style="cursor:pointer" (click)="reset_camera(c)">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

    <section class="breadcrumbs"> 
      <div class="container-fluid">
        <ul>
            <li class="active"><a href="">Home</a></li>
          <!-- <li><a href="">Configuration</a></li>
          <li><a href="">Camera</a></li>
          <li class="active"><a href="">Add Camera</a></li> -->
        </ul>
      </div>
    </section>