        <!-- header-start -->
    <header class="admin-header">
        <div class="container-fluid">
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>            
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li class="top-brd">
                    <a href="#">Configuration</a>
                    <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <!-- <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li>
                    <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li>
                    <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li>
                    <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                    </ul>
                </li>
                <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                    <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                    <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
                </li>
                <!-- <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li> -->
            </ul>
            </div><!--/.nav-collapse -->

            <div class="mobile-arrange">
                <div id="sb-search" class="sb-search sb-search-open">
                <form (ngSubmit)="search()" #f="ngForm" novalidate>
                    <input class="sb-search-input" placeholder="Search here..." name="search" id="keyword" [(ngModel)]="keyword" type="search">
                    <input class="sb-search-submit" value="" type="submit">
                    <span class="sb-icon-search"><img src="../../images/search-icon.png" alt=""></span>
                </form>
                </div>

                <div class="dropdown profile-menu">
                    <img src="../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
                    <ul class="dropdown-menu">
                        <li><a>{{currentUser}}</a></li>
                        <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
                    </ul>
                </div>
            </div>

        </div><!--/.container-fluid -->
        </nav>
        </div><!--/.main container-fluid --> 
    </header>
    <!-- header-end -->

    <!-- vehicle-blacklist-area-start -->
    <div class="vehicle-recognition">
        <div class="vehicle-recognition-table">
          <div class="vehicle-btn-area">
            <button type="button" class="btn upload-btn pull-left" data-toggle="modal" data-target="#vehicleRecognitionAddNewlistPopup">+ Add New List</button>
          
            <div class="user-list-cta" *ngIf="saveBtn">
              <button type="button" class="admin-btn edit-btn active" (click)="save_edited_list()">Save</button>
              <button type="button" class="admin-btn edit-btn active" (click)="cancel_btn()">Cancel</button>
            </div> 
          
            <div class="user-list-cta" *ngIf="deleteBtn">
              <button type="button" class="admin-btn edit-btn active" (click)="delete_list()">Delete</button>
              <button type="button" class="admin-btn delete-btn" (click)="cancel_btn()">Cancel</button>
            </div>
  
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>list id</th>
                <th>list Name</th>
                <th>Number plate</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of vehicle_list" [class.active]="isRowActive">
                <td (click)="select_row(v._id)">{{v._id}}</td>
                <td>
                  <div class="selecter camera-type-selecter">
                    <a class="btn btn-select">
                      <input type="hidden" class="btn-select-input" id="" name="" value="">
                      <span class="btn-select-value">{{v.list_name}}</span>
                      <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                      <ul class="sentencecase" style="display:none;">
                        <li (click)="chagne_list_name($event.target.textContent,v.user_id,v._id)">Blacklist 1</li>
                        <li (click)="chagne_list_name($event.target.textContent,v.user_id,v._id)">Blacklist 2</li>
                        <li (click)="chagne_list_name($event.target.textContent,v.user_id,v._id)">Blacklist 3</li>
                        <li (click)="chagne_list_name($event.target.textContent,v.user_id,v._id)">Blacklist 4</li>
                        <li (click)="chagne_list_name($event.target.textContent,v.user_id,v._id)">Blacklist 5</li>
                      </ul>
                    </a>
                  </div>
                </td>
                <td>
                  <div class="camera-type-list">
                    <input type="text" id="{{ v._id }}"  value="{{ v.vehicle_numbers }}" (keyup)="edit_vehicle_numbers($event.target.value,v._id)" class="input-style" >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    <!-- vehicle-page-content-end -->

    <!-- vehicle-recognition-popup-code -->
    <div id="vehicleRecognitionAddNewlistPopup" class="modal fade" role="dialog" #vehicleRecognitionAddNewlistPopup>
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="modal-title">Add New List</h4>
                    </div>
                    <div class="col-sm-8">
                        <span class="alert-danger">{{list_name_error}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="add-new-list">
                <ul>
                    <li>
                    <div class="camera_info">
                        <div class="label-area">
                        List Type
                        </div>
                        <div class="camera-type-list">
                        <div class="selecter camera-type-selecter">
                            <a class="btn btn-select">
                            <input type="hidden" class="btn-select-input" id="" name="" value="">
                            <span class="btn-select-value" #listType>Blacklist</span>
                            <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                            <ul class="sentencecase" style="display:none">
                                <li>Blacklist</li>
                                <li>Whitelist</li>
                            </ul>
                            </a>
                        </div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="camera_info">
                        <div class="label-area">
                        List Name
                        </div>
                        <div class="camera-type-list">
                        <div class="selecter camera-type-selecter">
                            <a class="btn btn-select">
                            <input type="hidden" class="btn-select-input" id="" name="" value="">
                            <span class="btn-select-value" #listName>Blacklist 1</span>
                            <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                            <ul class="sentencecase" style="display:none">
                                <li>Blacklist 1</li>
                                <li>Blacklist 2</li>
                                <li>Whitelist 1</li>
                                <li>Whitelist 2</li>
                            </ul>
                            </a>
                        </div>
                        </div>
                    </div>
                    </li>
                    <li>
                    <div class="camera_info">
                        <div class="label-area">
                        Vehicle Numbers
                        </div>
                        <div class="camera-type-list">
                            <input type="text" placeholder="<KA 01 XX XXXX>,<KA 01 XX XXXX>,<KA 01 XX XXXX>" class="input-style" #vehicleNumbers/>
                        </div>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveid" type="button" class="admin-btn edit-btn active" (click)="add_new_list(listType.textContent, listName.textContent, vehicleNumbers.value)">save</button>
            </div>
            </div>

        </div>
    </div>
    <!-- popup-code -->
    <!-- Modal -->
    <section class="breadcrumbs"> 
        <div class="container-fluid">
        <ul>
            <li class="active"><a href="" [routerLink]="['/']">Configuration</a></li>
            <li><a href="">Vehicle Recognition</a></li>
            <!-- <li><a href="">Configuration</a></li>
            <li><a href="">Camera</a></li>
            <li class="active"><a href="">Add Camera</a></li> -->
        </ul>
        </div>
    </section>