<!-- header-start -->
    <header class="admin-header">
      <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Graymatics</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
              <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <!-- <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                  </ul>
              </li>
              <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                  <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                  <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
              </li>
              <!-- <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->

          <div class="mobile-arrange">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Search here..." type="search" name="search" id="awesome-input">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"><img src="../../../images/search-icon.png" alt=""></span>

                <div class="awesome-results">
                  <ul class="collection">
                   <li class="collection-item">yellow shirt</li>
                   <li class="collection-item">yellow car</li>
                   <li class="collection-item">yellowish</li>
                  </ul>
                </div>

              </form>
            </div>

            <div class="dropdown profile-menu">
              <img src="../../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
              <ul class="dropdown-menu">
                <li><a href="#">Edit Account</a></li>
                <li><a href="#">Sign out</a></li>
              </ul>
            </div>
          </div>

        </div><!--/.container-fluid -->
      </nav>
      </div><!--/.container-fluid -->
    </header>
    <!-- header-end -->

    <!-- upload-video-section-start -->
    <div class="upload-video-area" ng-app="admin" ng-controller="adminCtrl">      

      <div class="intrusion-section">
        <div class="upload-confirm-btn">
          <button type="button" class="upload-confirm-cta" (click)="submitAnnotation()">confirm</button>
        </div>

        <div class="intrusion-area">
          <div class="intrusion-left-area">
            <div class="roi-details">
              <div class="camera-id-info alignment-style">
                <div class="label-area">
                  Camera Name
                </div>
                <div class="camera-id-input">
                  <input type="text" value="{{video.name}}" class="input-style" disabled>
                </div>
              </div>
              <div class="camera-id-info alignment-style">
                <div class="label-area">
                  Camera ID
                </div>
                <div class="camera-id-input">
                  <input type="text" value="{{video._id}}" class="input-style" disabled>
                </div>
              </div>
              <div class="Instructions-text">
                <h4>Instructions</h4>
                <p>1. Drag the boxes to the required area and confirm for <br> the capability to activate.</p>
              </div>
            </div>
          </div>
          <div class="intrusion-right-area">
            <div class="roi-area">
              <div class="roi-image-area" id="img_div">
                <img src="{{video.frame}}" class="img-responsive" alt="">
              </div>
            </div>
            <div class="roi-area-select">
              <div class="draw-roi">
                <span class="draw-title">Draw ROI</span>
                <ul>
                  <li>
                  <button type="button" class="upload-confirm-cta" *ngIf="editingMode" (click)="clearCanvas()">Clear</button>
                  </li>
                  <li>
                  <button type="button" class="upload-confirm-cta" (click)="submitAnnotation()">Submit</button>
                  </li>
                  <li>
                  <button type="button" class="upload-confirm-cta" *ngIf="!editingMode" 
                      (click)="activateEditingMode()">Draw
                  </button>
                  </li>
                  <li>
                  <button type="button" class="upload-confirm-cta" *ngIf="editingMode" 
                      (click)="deactivateEditingMode()">Cancel
                  </button>
                  </li>
                </ul>


<!--
                <div class="number-roi">
                  <span class="roi-no">No. of ROI</span>
                  <div class="selecter camera-type-selecter roi-number">
                    <a class="btn btn-select">
                      <input type="hidden" class="btn-select-input" id="" name="" value="">
                      <span class="btn-select-value">1</span>
                      <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                      <ul style="display: none;" class="sentencecase">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                      </ul>
                    </a>
                  </div>
                </div>-->
              </div>
            </div>
          </div>

        </div>
      </div>
      
    </div>
    <!-- upload-video-section-end -->   
    
    <!-- section-breadcumbs-start -->
    <section class="breadcrumbs"> 
      <div class="container-fluid">
        <ul>
            <li><a href="#" [routerLink]="['/security-agent/video/archived']">Forensic</a></li>
            <li class="active"><a href="">Archived-Videos-ROI</a></li>
        </ul>
      </div>
    </section>
    <!-- section-breadcumbs-end --> 