  <!-- header-start -->
  <header class="admin-header">
        <div class="container-fluid">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>            
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li class="top-brd">
                        <a href="#">Configuration</a>
                        <ul class="drop-down-menu supervisor-menu">
                        <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                        <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li>
                        <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li>
                        <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li>
                        <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li>
                        <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                        </ul>
                    </li>
                    <li class="top-brd">
                    <a href="#">Forensic Search</a>
                    <ul class="drop-down-menu">
                        <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                        <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                    </ul>
                    </li>
                    <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li>
              </ul>
            </div><!--/.nav-collapse -->
  
            <div class="mobile-arrange">
                <div id="sb-search" class="sb-search sb-search-open">
                    <form (ngSubmit)="search()" #f="ngForm" novalidate>
                        <input class="sb-search-input" placeholder="Search here..." name="search" id="keyword" [(ngModel)]="keyword" type="search">
                        <input class="sb-search-submit" value="" type="submit">
                        <span class="sb-icon-search"><img src="../../../images/search-icon.png" alt=""></span>
                    </form>
                </div>
  
              <div class="dropdown profile-menu">
                <img src="../../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
                <ul class="dropdown-menu">
                    <li><a>{{currentUser}}</a></li>
                    <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
                </ul>
              </div>
            </div>
  
          </div><!--/.container-fluid -->
        </nav>
         </div><!--/.main-container-fluid -->
      </header>
      <!-- header-end -->
  
      <!-- upload-video-section-start -->
    <div class="upload-video-area">
        <div class="add-subject-area">
        <div class="upload-video-info">
            <div class="upload-leftside-area">
            <ul>
                <li>
                <div class="camera_info">
                    <div class="label-area">
                    Subject Type
                    </div>
                    <div class="camera-type-list">
                    <div class="selecter camera-type-selecter">
                        <a class="btn btn-select">
                        <input type="hidden" class="btn-select-input" id="" name="" value="">
                        <span class="btn-select-value" 
                            id="subject_type"  
                            name="subject_type" 
                            >{{subject_val}}</span>
                        <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                        <ul class="sentencecase" style="display:none">
                            <li>Whitelist</li>
                            <li>Blacklist</li>
                            <li>Not applicable</li>
                        </ul>
                        </a>
                    </div>
                    </div>


                                </div>
                </li>
                <li>
                <div class="camera_info">
                    <div class="label-area">
                    Subject Name
                    </div>
                    <div class="camera-type-list">
                    <input type="text" 
                        id="name" 
                        class="input-style"
                        name="name" 
                        [(ngModel)]="face.name" 
                        #name="ngModel">
                    </div>
                </div>
                </li>
                <li>
                <div class="camera_info">
                    <div class="label-area">
                    Age
                    </div>
                    <div class="camera-type-list">
                    <input type="text" 
                        id="age" 
                        class="input-style"
                        name="age" 
                        [(ngModel)]="face.age" 
                        #age="ngModel">
                    </div>
                </div>
                </li>
                <li>
                <div class="camera_info">
                    <div class="label-area">
                    Gender
                    </div>
                    <div class="camera-type-list">
                    <div class="selecter camera-type-selecter">
                        <a class="btn btn-select">
                        <input type="hidden" class="btn-select-input" id="" name="" value="">
                        <span class="btn-select-value" 
                            id="gender"
                            name="gender" 
                            >{{gender_val}}</span>
                        <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                        <ul class="sentencecase" style="display:none">
                            <li>Male</li>
                            <li>Female</li>
                        </ul>
                        </a>
                    </div>
                    </div>
                </div>
                </li>
                <li>
                <div class="camera_info">
                    <div class="label-area">
                    Ethnicity
                    </div>
                    <div class="camera-type-list">
                    <input type="text" 
                        id="ethnicity" 
                        class="input-style"
                        name="ethnicity" 
                        [(ngModel)]="face.ethnicity" 
                        #ethnicity="ngModel">
                    </div>
                </div>
                </li>
            </ul>          
            </div>

            <div class="subject-upload-rightside-area">

            <div class="drag-drop-video-area">
                <h4>Fill up the fields and click on live camera button</h4>            
                <!-- <button id="liveid" type="button" class="admin-btn edit-btn active pull-right" (click)="live_camera()">live camera</button> -->
                <button id="webcam_modal" type="button" [hidden]="true" class="admin-btn edit-btn active pull-right" data-toggle="modal" data-target="#add-subject-ftp-upload-popup">open modal</button>
                
                <div class="file-drag-area">
                <div class="drag-icon-img">
                    <h5> Click browse and upload</h5>
                    <form class="ng-pristine ng-valid">
                    <span>
                        <label class="file-browse-cta" for="upload-file-selector">
                        <input id="upload-file-selector" name="image_file" class="file-browse-cta" type="file" (change)="onFileChange($event)">Browse
                        </label>
                    </span>
                    </form>
                    <!--
                    <div class="col-md-9" style="margin-bottom: 40px">
                        <h3>Upload queue</h3>
                        <p>Queue length: {{ uploader?.queue?.length }}</p>
            
                        <table class="table">
                            <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th>Size</th>
                                <th>Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of uploader.queue">
                                <td><strong>{{ item?.file?.name }}</strong></td>
                                <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                <td *ngIf="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs"
                                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs"
                                            (click)="item.cancel()" [disabled]="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs"
                                            (click)="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
            
                        <div>
                            <div>
                                Queue progress:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s"
                                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> Upload all
                            </button>
                            <button type="button" class="btn btn-warning btn-s"
                                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                            </button>
                            <button type="button" class="btn btn-danger btn-s"
                                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> Remove all
                            </button>
                        </div>
            
                    </div>
                    -->
                </div>
                </div>
                <div class="confirmation-area">
                <!-- <span>*300 Images for each subject for higher accuracy</span> 
                <button type="button" class="upload-confirm-cta pull-right" (click)="confirm()">confirm</button>-->
                </div>
                
            </div>

            </div>
        </div>
        <!--
        <div class="subject-image-area">
            <h3>Sample Images <span>(300 Images for each subject for higher accuracy)</span></h3>
            <ul style="margin:0 -15px;">
                <li><img src="../../../images/face-report-image1.png"></li>
                <li><img src="../../../images/face-report-image2.png"></li>
                <li><img src="../../../images/face-report-image3.png"></li>
                <li><img src="../../../images/face-report-image4.png"></li>
                <li><img src="../../../images/face-report-image5.png"></li>
                <li><img src="../../../images/face-report-image6.png"></li>
                <li><img src="../../../images/face-report-image7.png"></li>
                <li><img src="../../../images/face-report-image8.png"></li>
                <li><img src="../../../images/face-report-image8.png"></li>
                <li><img src="../../../images/face-report-image9.png"></li>
                <li><img src="../../../images/face-report-image10.png"></li>
                <li><img src="../../../images/face-report-image11.png"></li>
            </ul>
        </div>
        -->
        </div>


    </div>
        <!-- upload-video-section-end -->

        <div id="add-subject-ftp-upload-popup" class="cmn-modal-body popup-style modal fade" data-backdrop="false" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
    <!--           <div class="modal-header">
                <h4 class="modal-title">False Detection</h4>
                </div> -->
                <div class="modal-body">
                    <!-- upload-video-section-start -->
                    <div class="upload-video-area">
                            <div class="add-subject-area">
                            <div class="upload-video-info">
                                <div class="upload-leftside-area">
                            <div class="row">
                                <div class="col-xs-2">
                                        <button class="admin-btn edit-btn" (click)="startRecording()"> Start </button>
                                        <!-- <button class="admin-btn edit-btn" (click)="stopRecording()"> Stop </button>
                                        <button class="admin-btn edit-btn" (click)="upload()"> Upload </button> -->
                                </div>
                                <div id="myProgress" #myProgress>
                                    <div id="myBar" #myBar></div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <video #video class="video"></video>
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                    </div>
    
                </div>
            </div>
    
            </div>
        </div>
        <!-- false-detection-popup-end -->
        <!-- section-breadcumbs-start -->
        <section class="breadcrumbs"> 
        <div class="container-fluid">
        <ul>
            <li class="active"><a href="#" [routerLink]="['/']">Configuration</a></li>
            <li class="active"><a href="">face-recognition</a></li>
            <!-- <li><a href="">Configuration</a></li>
            <li><a href="">Camera</a></li>
            <li class="active"><a href="">Add Camera</a></li> -->
        </ul>
        </div>
    </section>