/** camera-view **/
.admin-page-content.camera-view-page-content {
    width: 100%;
    float: none;
    margin: 72px 0 0 0;
}

.admin-page-content.camera-view-page-content th.head-red{
	color: #ff0000;
    border-bottom: 1px solid #f9e4e4;
}
.admin-page-content.camera-view-page-content th.head-yellow{
    color: #ffc600;
    border-bottom: 1px solid #f6f5a6;
}
.admin-page-content.camera-view-page-content th.head-green{
    color: #239609;
    border-bottom: 1px solid #a6f6aa;
}
.admin-page-content.camera-view-page-content  td.text-center.lgt-red-border {
	background:#f9e4e4;
	border-top:1px solid #d8b9b9;
	border-bottom: 1px solid #d8b9b9;
  width:90px;
  font-size: 16px;
  font-family: 'latosemibold';
}
.admin-page-content.camera-view-page-content  td.text-center.lgt-yellow-border {
	background:#f6f5a6;
	border-top: 1px solid #c3c271;
	border-bottom: 1px solid #c3c271;
	width: 90px;
  font-size: 16px;
  font-family: 'latosemibold';
}
.admin-page-content.camera-view-page-content  td.text-center.lgt-green-border {
	background:#a6f6aa;
	border-top: 1px solid #62a666;
	border-bottom: 1px solid #62a666;
	width: 90px;
  font-size: 16px;
  font-family: 'latosemibold';
}
.admin-page-content.camera-view-page-content .user-list-cta{
	margin-top: 0;
}
.admin-page-content.camera-view-page-content .user-list-cta label {
	padding-top: 15px;
	font-weight: 400;
	font-size: 14px;
}
.user-list-cta b {
	font-family: 'latosemibold';
}

.admin-page-content.camera-view-page-content .user-list-area {
	position: relative;
}
.admin-page-content.camera-view-page-content span.outstanding {
	position: absolute;
    top: 55px;
    right: 20%;
    color: #78909c;
    text-transform: uppercase;
    font-family: 'latosemibold';
}

/** view-agent **/
.selecter.camera-linked{
	width: 50%;
}
div#notification-tab.filter-tab{
	width: 50%;
	margin: 14px 0 34px 0;
}
div#notification-tab.filter-tab .nav-tabs{
	padding: 0;
	background: none;
}
div#notification-tab.filter-tab .nav > li{
	max-width: 120px;
    width: 120px;
    float: left;
    margin-right:10px;
}
.selecter.camera-linked {
	width: 312px;	
	float: right;
	margin-top: 18px;
}
.selecter.camera-linked a {
	width: 312px;
}
.selecter.camera-linked .btn-select ul li.selected:after{
	display: none;
}
.selecter.camera-linked .btn-select ul li.reassign-btn{
	background: #fff;
    color: #243145;
    text-align: center;
}

div#notification-tab.filter-tab ul.nav.nav-tabs.red-border,
div#notification-tab.filter-tab ul.nav.nav-tabs.yellow-border,
div#notification-tab.filter-tab  ul.nav.nav-tabs.green-border{
	border: none;
}
.video-area.chaeck-bg {
	position: relative;
}
.video-area.chaeck-bg:before {
	content:'';
	display: inline-block;
	background: url(../images/video-feature-check-icon.png);
    width: 22px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 10px;
}

/** reassign camera **/
.admin-page-content.camera-view-page-content.camera-reassign-content {
    width: 982px;
    margin: 122px auto 0 auto;
}
div#bulk-upload-popup .modal-dialog {
	width: 803px;
}
div#bulk-upload-popup .modal-body {
	width: 723px;
	margin: 0 auto;
}
div#bulk-upload-popup .drag-drop-video-area {
	margin:40px 0  30px 0;
}
div#bulk-upload-popup .modal-footer{
	margin-right: 25px;
	padding-bottom: 30px;
}
div#bulk-upload-popup .file-drag-area{
	padding: 134px 0;
}
div#bulk-upload-popup .drag-icon-img h5{
	margin:25px 0 30px 0;
}
.admin-page-content.camera-content-max {
    width: 100%;
    margin: 87px auto 0 auto;
    max-width: 1259px;
    float: none;
}
.admin-page-content.camera-content-max .btn-select ul li.selected:after {
	display: none;
}

.admin-page-content.camera-view-page-content.camera-reassign-content ul li.selected:after {
	display: none;
}
.admin-page-content.camera-view-page-content.notification-agent ul li.selected:after {
	display: none;
}
.admin-page-content.camera-view-page-content.notification-agent {
    width: 91%;
    margin: 122px auto 0 auto;
}
td.width-adjust {
	width: 240px;
}
a.text-btn {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
}
a.text-btn:hover {
	text-decoration: none;
	color: #3B5998;
}
b.big-text-size-normal {
	font-size: 16px;
	font-weight: 400;
	font-family: 'latosemibold';
}


/*user-list*/
.right-align {
	text-align: right;
}
.right-align .selecter.camera-linked {
	margin-top: 0;
}
.right-align .selecter.camera-linked {
	width: 180px;
}
.right-align .selecter.camera-linked a {
  width: 180px;
}
.check-area {
  float: left;
  width: 100%;
}
.check-area > ul {
	padding-left: 0;
	float: right;
}
.check-area > ul > li {
	display: inline-block;
	margin-right: 73px;
	font-family: 'latosemibold';
	font-size: 16px;
}
.check-area > ul > li > img {
	margin-right: 15px;
}
#vehicle-recognition-popup .modal-body {
	padding: 30px;
}
.user-list-popup .modal-dialog {
	width: 715px;
}
.user-list-popup .check-area > ul > li {
	margin-right: 43px;
}
.user-list-popup .check-area > ul > li:last-child {
	margin-right: 0;
}
.user-select-opt.btn-select ul {
	top: 33px;
}
.user-list-area.editable-list table tr.active td {
	background: #e0e8f2;
}
