<!-- header-start -->
    <header class="admin-header">
      <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#" [routerLink]="['/supervisor/dashboard/agent-view']">Graymatics</a> -->
            <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
              <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li>
                    <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li>
                    <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li>
                    <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li>
                    <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                  </ul>
              </li>
              <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                  <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                  <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
              </li>
              <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li>
              <!-- <li><a href="admin-edit.html">Admin</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->

          <div class="mobile-arrange">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Search here..." type="search" name="search" id="awesome-input">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"><img src="../../../images/search-icon.png" alt=""></span>

                <div class="awesome-results">
            <ul class="nav navbar-nav">
              <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/dashboard/agent-view']">Camera</a></li>
                    <li><a href="agent.html">Agent</a></li>
                    <li><a href="notification-agent.html">Notifications</a></li>
                    <li><a href="alerts-add.html">Alerts</a></li>
                    <li><a href="add-subject.html">Face Recognition</a></li>
                    <li><a href="vehicle-recognition.html">Vehicle Recognition</a></li>
                  </ul>
              </li>
              <li class="top-brd"><a href="#">Forensic Search</a></li>
              <li><a href="#">Reports</a></li>
              <li><a href="#">Admin</a></li>
            </ul>
                </div>

              </form>
            </div>

            <div class="dropdown profile-menu">
              <img src="../../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
              <ul class="dropdown-menu">
                <li><a>{{currentUser}}</a></li>
                <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
              </ul>
            </div>
          </div>

        </div><!--/.container-fluid -->
      </nav>
      </div><!--/.container-fluid -->
    </header>
    <!-- header-end -->

    <!-- admin-page-content-start -->
    <div class="admin-page-content camera-content-max">
    	
    	<div class="user-list-cta" *ngIf="saveBtn">
        <button id="editid" type="button" class="admin-btn edit-btn active" (click)="update_camera()">Save</button>
        <!-- <button id="editid" type="button" class="admin-btn edit-btn active">Cancel</button> -->
        <button id="editid" type="button" class="admin-btn delete-btn" (click)="cancelselection()">Cancel</button>
      </div>
      
      <div class="user-list-cta" id="addcamera" *ngIf="addCameraBtn">
        <button id="editid" type="button" class="admin-btn edit-btn active" [routerLink]="['/supervisor/camera/add']">Add Camera</button>
      </div>
      
      <div class="user-list-cta" *ngIf="deleteBtn">
        <button id="editid" type="button" class="admin-btn edit-btn active" (click)="delete_camera()">Delete</button>
        <!-- <button id="editid" type="button" class="admin-btn edit-btn active">Delete</button> -->
        <button id="editid" type="button" class="admin-btn delete-btn" (click)="cancelselection()">Cancel</button>
      </div>

    	<div class="user-list-area editable-list">
    		<table class="table">
				  <thead>
				    <tr>
				      <th>camera id</th>
              <th>camera name</th>
				      <th>camera type</th>
				      <th>camera location</th>
              <th>agent</th>
              <th>status</th>

				    </tr>
				  </thead>
				  <tbody>
            <tr *ngFor="let c of cams, let i = index" id="GRAY_{{c._id}}">
              <td (click)="camera_id(gray_cam_id=c._id)">GRAY_{{c._id}}</td>
              <td >
                  <input type="text" id="name_{{c._id}}" (keyup)="change_cam_name($event.target.value,'name_'+c._id)" class="input-style" value={{c.name}}>
              </td>
              <td>
                  <span class="btn-select-value" (click)="goto_edit_camera(c)">{{c.type}}</span>
              </td>
              <td>
                <div class="selecter">
                  <span class="btn-select-value" (click)="goto_edit_camera(c)">Hall way</span>  
                </div>
              </td>
              <td>
                <div class="selecter">
                  <a class="btn btn-select" style="width: 144px;">
                    <input type="hidden" class="btn-select-input" id="" name="" value="">
                    <span class="btn-select-value" id="agent_{{c._id}}" (click)="toggle[i] = !toggle[i]">{{c.agent}}</span>
                    <span class="btn-select-arrow glyphicon glyphicon-chevron-down" (click)="toggle[i] = !toggle[i]"></span>
                    <ul class="sentencecase" [ngClass]="toggle[i] ? 'active': 'inactive'">
                      <li (click)="toggle[i] = !toggle[i];selected_value('agent_'+c._id,'manager')">manager</li>
                      <li (click)="toggle[i] = !toggle[i];selected_value('agent_'+c._id,'supervisior')">supervisior</li>
                      <li (click)="toggle[i] = !toggle[i];selected_value('agent_'+c._id,'admin')">admin</li>
                      <li (click)="toggle[i] = !toggle[i];selected_value('agent_'+c._id,'employee')">employee</li>
                      <li (click)="toggle[i] = !toggle[i];selected_value('agent_'+c._id,'security agent')">security agent</li>
                    </ul>
                  </a>
                </div>    
              </td>
              <td>
                <div class="select-user-type-opt status-opt">
                  <a class="btn btn-select user-select-opt">
                    <input type="hidden" class="btn-select-input" id="" name="" value="Active">
                    <span class="btn-select-value" id="status_{{c._id}}" (click)="status_toggle[i] = !status_toggle[i]">{{c.status}}</span>
                    <span class="btn-select-arrow glyphicon glyphicon-chevron-down" (click)="status_toggle[i] = !status_toggle[i]"></span>
                    <ul class="statuscase" [ngClass]="status_toggle[i] ? 'active': 'inactive'">
                        <li (click)="status_toggle[i] = !status_toggle[i];selected_value('status_'+c._id,'Active')">Active</li>
                        <li (click)="status_toggle[i] = !status_toggle[i];selected_value('status_'+c._id,'Inactive')">Inactive</li>
                        <li (click)="status_toggle[i] = !status_toggle[i];selected_value('status_'+c._id,'Paused')">Paused</li>
                    </ul>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!-- admin-page-content-end -->
    <section class="breadcrumbs"> 
      <div class="container">
        <ul>
            <!-- <li ng-repeat="item in navorder">><a href="" ng-style="{color: item.color}">
       {{item.name}} </a></li> -->
            
          <li><a href="view-camera.html">Configuration</a></li>
          <li class="active"><a href="">Camera</a></li>
          <!-- <li ><a href="">Add Camera</a></li> -->
        </ul>
      </div>
    </section>
    <!-- section-breadcumbs-end -->
    <!-- section-breadcumbs-start -->
    <section class="breadcrumbs"> 
      <div class="container-fluid">
        <ul>
            <li><a href="#" [routerLink]="['/supervisor/dashboard/agent-view']">Configuration</a></li>
            <li class="active"><a href="" onclick="setstate();">list-of-camera</a></li>
          <!-- <li><a href="">Configuration</a></li>
          <li><a href="">Camera</a></li>
          <li class="active"><a href="">Add Camera</a></li> -->
        </ul>
      </div>
    </section>
    <!-- section-breadcumbs-end -->
    