<!-- header-start -->
    <header>
      <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
              <!-- 29-01-2018 added configuration section in security agent for now -->
              <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <li><a href="#" [routerLink]="['/face']">Face</a></li>
                  </ul>
              </li>
              <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                  <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                  <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
              </li>
              <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li> 
            </ul>
          </div>
          <!--/.nav-collapse -->

          <div class="mobile-arrange">
              <div id="sb-search" class="sb-search sb-search-open">
                <form (ngSubmit)="search()" #f="ngForm" novalidate>
                  <input class="sb-search-input" placeholder="Search here..." name="search" id="keyword" [(ngModel)]="keyword" type="search">
                  <input class="sb-search-submit" value="" type="submit">
                  <span class="sb-icon-search"><img src="../../images/search-icon.png" alt=""></span>
                </form>
              </div>

              <div class="dropdown profile-menu">
                <img src="../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
                <ul class="dropdown-menu">
                  <li><a>{{currentUser}}</a></li>
                  <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
                </ul>
              </div>
          </div>

        </div><!--/.container-fluid -->
      </nav>
      </div><!--/.main container-fluid --> 
    </header>
    <!-- header-end -->

      <div id="wrapper" [class.toggled]="isParaActive">

        <!-- menu-exm-start -->
        <a (click)="menuToggle($event)" [class.toggled]="isBtnActive" id="menu-toggle">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>

        <div id="sidebar-wrapper">
          

          <!-- tab-option-start -->
          <div class="tab-notification-area">

            <div id="notification-tab"> 
              <ul class="nav nav-tabs" [class.red-border]="red_border" [class.green-border]="green_border" [class.yellow-border]="yellow_border">
                <li class="red-notified" (click)="red_border=true;yellow_border=false;green_border=false" 
                        [class.active]="red" *ngIf="red_count.count;else redDefaultCount">
                  <a href="#1" data-toggle="tab">{{red_count.count}} ({{red_action_count.count}})</a>
                </li>
                <ng-template #redDefaultCount>
                    <li class="red-notified" 
                        (click)="red_border=true;yellow_border=false;green_border=false"
                        [class.active]="red"><a href="#1" data-toggle="tab">0</a></li>
                </ng-template>
                <li class="yellow-notified"  
                    (click)="red_border=false;yellow_border=true;green_border=false"
                    [class.active]="yellow" *ngIf="yellow_count.count;else yellowDefaultCount">
                  <a href="#2" data-toggle="tab">{{yellow_count.count}} ({{yellow_action_count.count}})</a>
                </li>
                <ng-template #yellowDefaultCount>
                  <li class="yellow-notified" 
                      (click)="red_border=false;yellow_border=true;green_border=false"
                      [class.active]="yellow"><a href="#2" data-toggle="tab">0</a></li>
                </ng-template>
                <li class="green-notified" 
                    (click)="red_border=false;yellow_border=false;green_border=true"
                    [class.active]="green" *ngIf="green_count.count;else defaultCount">
                  <a href="#3" data-toggle="tab">{{green_count.count}} ({{green_action_count.count}})</a>
                </li>
                <ng-template #defaultCount>
                  <li class="green-notified" 
                      (click)="red_border=false;yellow_border=false;green_border=true"
                      [class.active]="green"><a href="#3" data-toggle="tab">0</a></li>
                </ng-template>
              </ul>

              <div class="tab-content">
                <div class="tab-pane"  [class.active]="red" id="1">
                  
                </div>

                <div class="tab-pane" [class.active]="yellow" id="2">
             
                </div>

                <div class="tab-pane" [class.active]="green" id="3">
              
                </div>

                <!-- <div class="tab-pane"  [class.active]="default" id="4">
                  
                </div> -->

              </div>
            </div>

          </div>
          <!-- tab-option-end -->
        </div>
        <!-- menu-exm-end -->

      <div id="page-content-wrapper" class="notification-area">      

        <!-- page-area-start -->
        <div class="page-content">
          <div class="container-fluid">

            <div class="big-size" [class.show-big-video]="isSmall">
              <div class="col-md-12">
                <div class="video-placeholder">
                  <img [src]="full_screen_view" class="img-responsive">
                </div>
                <div class="video-info">
                  <h4>{{full_screen_cam_name}}</h4>
                  <a href="javascript:void(0)" class="zoom-out" (click)="fullScreen($event)">
                    <img src="../../images/zoom-out.png" class="pull-right" alt="zoom out icon">
                  </a>
                </div>
              </div>
            </div>

            <div class="all-cameras" [class.camera-views]="isBig">
              <div *ngFor="let c of cams">
              <div id='cam_{{c.camera_id}}' class="col-lg-4 col-md-4 col-sm-4 col-xs-6 full-size">
                <div class="post-area">
                  <div class="video-area" >
                    <img id='frame_{{c.camera_id}}' (click)="security_cam_view(c.camera_id)" src="{{c.frame}}" height="225" alt="" />
                    <div class="zoom-icon" (click)="fullScreen($event,c.camera_id,c.name)">
                      <a href="javascript:void(0)" class="video-show"></a>
                    </div>
                  </div>
                  <div class="post-title-area">
                    <h4>{{c.name}}</h4>
                    <div class="dropdown more-opt">
                      <img src="../../images/menu-btn.png" data-toggle="dropdown" class="dropdown-toggle" alt="">
                      <ul class="dropdown-menu">
                        <li><a (click)="security_cam_view(c.camera_id)">View</a></li>
                        <li><a href="#">Reconnect</a></li>
                        <li><a (click)="reset_camera(c)" href="#">Reset</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            
            </div>
          
          </div>
        </div>
        <!-- page-area-end -->

      </div>
    </div>

    <section class="breadcrumbs"> 
      <div class="container-fluid">
        <ul>
            <li class="active"><a href="">Home</a></li>
          <!-- <li><a href="">Configuration</a></li>
          <li><a href="">Camera</a></li>
          <li class="active"><a href="">Add Camera</a></li> -->
        </ul>
      </div>
    </section>