<!-- header-start -->
    <header class="admin-header">
      <div class="container-fluid">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#" [routerLink]="['/supervisor/dashboard/agent-view']">Graymatics</a> -->
            <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
              <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <!-- <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li> -->
                    <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                  </ul>
              </li>
              <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                  <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                  <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
              </li>
              <!-- <li><a href="#" [routerLink]="['/supervisor/camera/main']">Reports</a></li> -->
            </ul>
          </div><!--/.nav-collapse -->

          <div class="mobile-arrange">
            <div id="sb-search" class="sb-search">
              <form>
                <input class="sb-search-input" placeholder="Search here..." type="search" name="search" id="awesome-input">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"><img src="../../../images/search-icon.png" alt=""></span>

                <div class="awesome-results">
                  <ul class="collection">
                   <li class="collection-item">yellow shirt</li>
                   <li class="collection-item">yellow car</li>
                   <li class="collection-item">yellowish</li>
                  </ul>
                </div>

              </form>
            </div>

            <div class="dropdown profile-menu">
              <img src="../../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
              <ul class="dropdown-menu">
                <li><a>{{currentUser}}</a></li>
                <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
              </ul>
            </div>
          </div>

        </div><!--/.container-fluid -->
      </nav>
      </div><!--/.container-fluid -->
    </header>
    <!-- header-end -->

    <!-- upload-video-section-start -->
    <div class="upload-video-area" ng-app="admin" ng-controller="adminCtrl">
      <form role="form" class="login common-style-form" data-toggle="validator" (ngSubmit)="add(f.value, f.valid)" #f="ngForm" novalidate>
      <div class="upload-confirm-btn">
        <button type="submit" class="upload-confirm-cta">confirm</button>
      </div>
      <div class="upload-video-info">
        <div class="upload-leftside-area">
          <ul>
            <li>
              <div class="camera_info">
                <div class="label-area">
                  camera type
                </div>
                <div class="camera-type-list">
                  <div class="selecter camera-type-selecter">
                    <a class="btn btn-select">
                      <input  type="hidden" 
                              class="btn-select-input">
                      <span class="btn-select-value" 
                            (click)="camera_type()">{{camTypeDropDownValue}}</span>
                      <span class="btn-select-arrow glyphicon glyphicon-chevron-down" (click)="camera_type()"></span>
                      <ul [hidden]="!camTypeDropDown" >
                        <li (click)="camera_type_value('production')">Production</li>
                        <li (click)="camera_type_value('demo')">Demo</li>
                        <li (click)="camera_type_value('test')">Test</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
              <div class="camera_info">
                <div class="label-area">
                  camera Name
                </div>
                <div class="camera-type-list">
                  <input type="text" 
                         class="input-style"
                         id="name" 
                         name="name" 
                         [(ngModel)]="camera.name" 
                         #name="ngModel" 
                         required minlength="4" maxlength="24">
                  <br/>
                  <small [hidden]="name.valid || (name.pristine && !f.submitted)" class="text-danger">
                  Name is required (minimum 4 characters).
                  </small>
                </div>
              </div>
              </div>
            </li>
            <li>
              <div class="form-group">
              <div class="camera_info">
                <div class="label-area">
                  camera URL
                </div>
                <div class="camera-type-list">
                  <input  type="text" 
                          class="input-style"
                          id="source" 
                          name="source" 
                          [(ngModel)]="camera.source" 
                          #source="ngModel"
                          required minlength="4">
                  <br/>
                  <small [hidden]="source.valid || (source.pristine && !f.submitted)" class="text-danger">
                  URL is required (minimum 4 characters).
                  </small>
                </div>
              </div>
              </div>
            </li>
            <li>
              <div class="camera_info">
                <div class="label-area">
                  Resolution
                </div>
                <div class="camera-type-list">
                  <div class="selecter camera-type-selecter">
                    <a class="btn btn-select">
                      <input type="hidden" class="btn-select-input" id="" name="" value="">
                      <span class="btn-select-value">720 x 1280</span>
                      <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                      <ul [hidden]="!resolutionDropDown">
                        <li>720 x 1280</li>
                        <li>2048 x 1536</li>
                        <li>4096 x 3072</li>
                        <li>2048 x 872</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
              <div class="camera_info">
                <div class="label-area">
                  GPS
                </div>
                <div class="camera-type-list">
                  <input  type="text"
                          id="gps" 
                          name="gps" 
                          [(ngModel)]="camera.gps" 
                          #gps="ngModel" 
                          required minlength="4" maxlength="24" 
                          class="input-style">
                  <br/>
                  <small [hidden]="gps.valid || (gps.pristine && !f.submitted)" class="text-danger">
                  GPS is required.
                  </small>
                </div>
              </div>
              </div>
            </li>
            <li>
              <div class="camera_info">
                <div class="label-area">
                  FPS
                </div>
                <div class="camera-type-list">
                  <div class="selecter camera-type-selecter">
                    <a class="btn btn-select">
                      <input type="hidden" class="btn-select-input" id="" name="" value="">
                      <span class="btn-select-value" (click)="camera_fps()">{{camFpsValue}}</span>
                      <span (click)="camera_fps()" class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                      <ul [hidden]="!fpsDropDown">
                        <li (click)="camera_fps_value('10')">10</li>
                        <li (click)="camera_fps_value('20')">20</li>
                        <li (click)="camera_fps_value('30')">30</li>
                        <li (click)="camera_fps_value('40')">40</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="camera_info">
                <div class="label-area">
                  Agent
                </div>
                <div class="camera-type-list">
                  <div class="selecter camera-type-selecter">
                    <a class="btn btn-select">
                      <input  type="hidden" 
                              class="btn-select-input">
                      <span class="btn-select-value">Harsha Kakkeri</span>
                      <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
                      <ul [hidden]="!agentDropDown">
                        <li (click)="camera_agent_value('Harsha Kakkeri')">Harsha Kakkeri</li>
                        <li (click)="camera_agent_value('Harsha Kakkeri 1')">Harsha Kakkeri 1</li>
                        <li (click)="camera_agent_value('Harsha Kakkeri 2')">Harsha Kakkeri 2</li>
                        <li (click)="camera_agent_value('Harsha Kakkeri 3')">Harsha Kakkeri 3</li>
                      </ul>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>          
        </div>

        <div class="upload-rightside-area">
          <h4 class="video-feature-title">Features</h4>
            <ul class="video-feature-list list-area">
              <!-- <li ng-repeat="items in menu">{{items}}</li> -->
              <li>People Tracking
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="pc" 
                          name="peopleTracking"
                          [(ngModel)]="camera.peopleTracking" 
                          #peopleTracking="ngModel" 
                          class="styled" type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li> 
              <li>Vehicle Tracking
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="vt" 
                          class="styled"
                          name="vehicleTracking"
                          [(ngModel)]="camera.vehicleTracking" 
                          #vehicleTracking="ngModel"  
                          type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>Congestion Detection
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="id" 
                          name="intrusionDetection"
                          [(ngModel)]="camera.intrusionDetection" 
                          #intrusionDetection="ngModel" 
                          class="styled" type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>Speed Detection
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="vs" 
                          name="vehicleSpeed"
                          [(ngModel)]="camera.vehicleSpeed" 
                          #vehicleSpeed="ngModel" 
                          class="styled" type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <!-- <li>Vehicle Count
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="vc" 
                          class="styled"
                          name="vehicleCount"
                          [(ngModel)]="camera.vehicleCount" 
                          #vehicleCount="ngModel"  
                          type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>Vehicle Number (ANPR)
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="anpr" 
                          name="anpr"
                          [(ngModel)]="camera.anpr" 
                          #anpr="ngModel" 
                          class="styled" type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>Vehicle Speed
                  <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                    <input  id="vs" 
                            name="vehicleSpeed"
                            [(ngModel)]="camera.vehicleSpeed" 
                            #vehicleSpeed="ngModel" 
                            class="styled" type="checkbox">
                    <label for="checkbox2" class="border-radio-btn"></label>
                  </div>
                </li>
              <li>Violence
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="v" 
                          name="v"
                          [(ngModel)]="camera.violence" 
                          #violence="ngModel" 
                          class="styled" type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>People Count
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="pc" 
                          name="peopleTracking"
                          [(ngModel)]="camera.peopleTracking" 
                          #peopleTracking="ngModel" 
                          class="styled" type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li> 
              <li>Intrusion Detection
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="id" 
                          name="intrusionDetection"
                          [(ngModel)]="camera.intrusionDetection" 
                          #intrusionDetection="ngModel" 
                          class="styled" type="checkbox">
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>People - Blacklist/Whitelist
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input id="pwb" 
                        class="styled" 
                        type="checkbox"
                        name="peopelList"
                        [(ngModel)]="camera.peopelList" 
                        #peopelList="ngModel" >
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>Vehicle - Blacklist/Whitelist
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input id="vbw" 
                        class="styled" 
                        type="checkbox"
                        name="vehicleList"
                        [(ngModel)]="camera.vehicleList" 
                        #vehicleList="ngModel" >
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>Face Recognition
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input id="facer" 
                        class="styled" 
                        type="checkbox"
                        name="faceRecognition"
                        [(ngModel)]="camera.faceRecognition" 
                        #faceRecognition="ngModel" >
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>Face Analytics
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="facea" 
                          class="styled" 
                          type="checkbox"
                          name="faceAnalytics"
                          [(ngModel)]="camera.faceAnalytics" 
                          #faceAnalytics="ngModel" >
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              <li>Theme Classifier
                <div class="checkbox checkbox-info checkbox-circle rgt-side-cheack">
                  <input  id="tc" 
                          class="styled" 
                          type="checkbox"
                          name="theme"
                          [(ngModel)]="camera.theme" 
                          #theme="ngModel" >
                  <label for="checkbox2" class="border-radio-btn"></label>
                </div>
              </li>
              -->
            </ul>
        </div>

      </div>
      </form>
    </div>
    <!-- upload-video-section-end -->
    <section class="breadcrumbs"> 
      <div class="container-fluid">
        <ul>
          <li class="active"><a href="#" [routerLink]="['/supervisor/dashboard/agent-view']">Configuration</a></li> 
          <li><a href="#">add-camera</a></li> 
          <!-- <li><a href="">Configuration</a></li>
          <li><a href="">Camera</a></li>
          <li class="active"><a href="">Add Camera</a></li> -->
        </ul>
      </div>
    </section>