  
  <div class="background-image"></div>
  <div id="login-page">
    <!-- login-form-start -->
    <div class="login-area">
      
      <!-- title-area-start -->
      <div class="title-area">
        <a href="#" [routerLink]="['/login']"><h4>Graymatics</h4></a>
      </div>
      <!-- title-area-end -->
      <div class="form-title">
        <h4>Forgot your Password?</h4>
      </div>
      <alert></alert>
      <form role="form" data-toggle="validator" class="login common-style-form" (ngSubmit)="forgot(f.valid)" #f="ngForm" novalidate>
        <p class="reset-password-info">Please enter your account's email address and click "Reset My Password" button. You will receive an email that contains a link to set a new password.</p>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="email">Email</label>
          <input  type="email" 
                  class="form-control" 
                  name="email" 
                  id="email" 
                  [(ngModel)]="model.email" 
                  #email="ngModel" 
                  placeholder="Email" 
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required>
          <div class="help-block with-errors"></div>   
          <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
            Email is required and format should be <i>john@doe.com</i>.
          </small>    
        </div>
        <div class="reset-btn">
          <button type="submit" class="form-btn btn" value="submit">Reset My Password</button>
          <div class="forget-link return-login pull-right">
            <a href="#" [routerLink]="['/login']">Return to Login Page</a>
          </div>
        </div>
      </form>
    </div>
    <!-- login-form-end -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
            <p>This is a small modal.</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
  </div>
 