<!-- header-start -->
<header class="admin-header">
    <div class="container-fluid">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" [routerLink]="['/']">Graymatics</a>            
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
        <ul class="nav navbar-nav">
            <li class="top-brd">
                <a href="#">Configuration</a>
                  <ul class="drop-down-menu supervisor-menu">
                    <li><a href="#" [routerLink]="['/supervisor/camera/main']">Camera</a></li>
                    <li><a href="#" [routerLink]="['/face/recognition']">Face Recognition</a></li>
                    <li><a href="#" [routerLink]="['/vehicle/recognition']">Vehicle Recognition</a></li>
                    <li><a href="#" [routerLink]="['/configuration/alerts']">Alerts</a></li>
                    <li><a href="#" [routerLink]="['/configuration/notifications']">Notifications</a></li>
                    <!-- <li><a href="#" [routerLink]="['/face/training']">Face</a></li> -->
                  </ul>
              </li>
              <li class="top-brd">
                <a href="#">Forensic Search</a>
                <ul class="drop-down-menu">
                  <li><a href="#" [routerLink]="['/security-agent/video/archived']">Archived Video</a></li>
                  <li><a href="#" [routerLink]="['/security-agent/video/uploaded']">Uploaded Video</a></li>
                </ul>
              </li>
              <li><a href="#" [routerLink]="['/reports/summary']">Reports</a></li>
        </ul>
        </div><!--/.nav-collapse -->

        <div class="mobile-arrange">
            <div id="sb-search" class="sb-search sb-search-open">
            <form (ngSubmit)="search()" #f="ngForm" novalidate>
                <input class="sb-search-input" placeholder="Search here..." name="search" id="keyword" [(ngModel)]="keyword" type="search">
                <input class="sb-search-submit" value="" type="submit">
                <span class="sb-icon-search"><img src="../../../images/search-icon.png" alt=""></span>
            </form>
            </div>

            <div class="dropdown profile-menu">
                <img src="../../../images/profile-image.jpg" data-toggle="dropdown" class="dropdown-toggle img-responsive" alt="profile-image">
                <ul class="dropdown-menu">
                    <li><a>{{currentUser}}</a></li>
                    <li><a href="#" [routerLink]="['/login']">Sign out</a></li>
                </ul>
            </div>
        </div>

    </div><!--/.container-fluid -->
    </nav>
    </div><!--/.main container-fluid --> 
</header>
    <!-- header-end -->

<!-- admin-page-content-start -->
<div class="admin-page-content camera-view-page-content notification-agent">
  
  <div class="user-list-cta right-align" *ngIf="addBtn">
    <button id="editid" type="button" data-toggle="modal" data-target="#userListPopup"  class="admin-btn edit-btn active pull-right">add</button>
    <div class="selecter camera-linked">
      <a class="btn btn-select">
        <input type="hidden" class="btn-select-input" id="" name="" value="">
        <span class="btn-select-value">All</span>
        <span class="btn-select-arrow glyphicon glyphicon-chevron-down"></span>
        <ul style="display: none;" class="sentencecase">
          <li *ngFor="let c of cams" (click)="selected_cam(c._id)">{{c.name}}</li>
        </ul>
      </a>
    </div>
  </div>

  <div class="user-list-cta" *ngIf="savebtnrow">
    <button id="save" type="button" class="admin-btn edit-btn active" (click)="update_user_list(uname.value,uemail.value,umobileNumber.value)">Save</button>
    <button id="delete" type="button" class="admin-btn edit-btn active">Delete</button>
    <!-- <button id="editid" type="button" class="admin-btn edit-btn active">Delete</button> -->
    <button id="cancle" type="button" class="admin-btn delete-btn" (click)="cancelselection()">Cancel</button>
  </div>

  <div class="user-list-area editable-list">
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>mobile number</th>
          <th class="text-center">Assign list</th>
          <th class="text-center">share list</th>
          <th class="text-center">escalation list</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users, let i = index"
            (click)="tablerowselection($event,i,u._id,u.camera_id)" 
            [ngClass]="{'active': selectedItem == i}">
          <td class="width-adjust">
            <div class="selecter">
              <input  type="text" 
                      class="input-style"
                      id="name" 
                      name="name" 
                      value="{{ u.name }}"
                      #uname>
            </div>    
          </td>
          <td>
            <div class="selecter">
              <input  type="text" 
                      class="input-style"
                      id="email" 
                      name="email" 
                      value="{{ u.email }}"
                      #uemail>
            </div>    
          </td>
          <td>
            <div class="selecter">
              <input  type="text" 
                      class="input-style"
                      id="mobile_number" 
                      name="mobile_number" 
                      value="{{ u.mobile_number }}"
                      #umobileNumber>
            </div>      
          </td>
          <td class="text-center">
            <div class="checkbox checkbox-info checkbox-circle">
              <input id="checkbox1" class="styled" type="checkbox" checked="{{u.assign_list}}">
              <label for="checkbox1"></label>
            </div>
          </td>
          <td class="text-center">
            <div class="checkbox checkbox-info checkbox-circle">
              <input id="checkbox2" class="styled" type="checkbox" checked="{{u.share_list}}">
              <label for="checkbox2"></label>
            </div>
          </td>
          <td class="text-center">
            <div class="checkbox checkbox-info checkbox-circle">
              <input id="checkbox13" class="styled" type="checkbox" checked="{{u.escalation_list}}">
              <label for="checkbox13"></label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<!-- admin-page-content-end -->

<!-- vehicle-recognition-popup-code -->
<div id="userListPopup" class="modal fade user-list-popup" role="dialog" #userListPopup>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">If  People count crosses X (Say 100)</h4>
        <div class="col-sm-8">
            <span class="alert-danger">{{config_user_error}}</span>
        </div>
      </div>
      <div class="modal-body">
        <div class="add-new-list">
          <ul>
            <li>
              <div class="camera_info">
                <div class="label-area">
                  Name
                </div>
                <div class="camera-type-list">
                  <input type="text" placeholder="John" class="input-style" #name>
                </div>
              </div>
            </li>
            <li>
              <div class="camera_info">
                <div class="label-area">
                  Email ID
                </div>
                <div class="camera-type-list">
                  <input type="text" placeholder="John@gmail.com" class="input-style" #email>
                </div>
              </div>
            </li>
            <li>
              <div class="camera_info">
                <div class="label-area">
                  Mobbile No
                </div>
                <div class="camera-type-list">
                  <input type="text" placeholder="XXXXXXXXXX" class="input-style" #mobileNumber>
                </div>
              </div>
            </li>
          </ul>
          <div class="check-area">
            <ul>
              <li>
                 <label class="nfncontainer">
                  Assign List
                  <input type="checkbox" name="assign_list" value="assign_list" #assignList>
                  <span class="nfncheckmark"></span>
                </label>
              </li>
              <li>
                  <label class="nfncontainer">
                  Share List
                  <input type="checkbox" name="share_list" value="share_list" #shareList>
                  <span class="nfncheckmark"></span>
                </label>
              </li>
              <li>
                 <label class="nfncontainer">
                  Escalation List
                  <input type="checkbox" name="escalation_list" value="escalation_list" #escalationList>
                  <span class="nfncheckmark"></span>
                </label>
              </li>
            </ul>  
          </div>
          <br/>
        </div>
      </div>
      <div class="modal-footer">
        <button id="saveid" type="button" class="admin-btn edit-btn active" (click)="add_user_list(name.value, email.value, mobileNumber.value,assignList.checked,shareList.checked,escalationList.checked)">save</button>
      </div>
    </div>

  </div>
</div>
<!-- popup-code -->
<section class="breadcrumbs"> 
  <div class="container-fluid">
    <ul>
        <li><a href="camera-view.html">Configuration</a></li>
       <li class="active"><a href="user-list.html">user-list</a></li>
      <!-- <li><a href="">Camera</a></li>
      <li class="active"><a href="">Add Camera</a></li> --> 
    </ul>
  </div>
</section>