#login-page {
  float: left;
  width: 100%;
  background: url(images/loginpage-banner.jpg) no-repeat;
  background-size: 100%;
  background-position: 0% -50%;
  height: 100vh;
}
.title-area {
  margin-top: 30px;
  position: absolute;
  width: 100%;
  float: left;
}
.title-area h4 {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.login-area {
  width: 450px;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 48px -17px #485664;
  -moz-box-shadow: 0px 0px 48px -17px #485664;
  box-shadow: 0px 0px 48px -17px #485664;
  margin-bottom: 20px;
}
/*.form-title h4 {
	text-align: center;
	font-family: @primary-font;
	font-weight: 600;
}*/
.form-title {
  background: #f8fafc;
  float: left;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #e7e9ed;
  border-radius: 5px 5px 0px 0px;
}
form.login {
  float: left;
  width: 100%;
  padding: 35px;
}
/*form label {
	text-transform: capitalize;
	color: @form-label-color;
	font-size: @form-title-fsize;
}*/
/*button.form-btn {
    float: left;
    width: 100%;
    background: @primary-color;
    color: #fff;
}*/
.forget-link {
  margin-top: 15px;
}
.forget-link a {
  text-transform: capitalize;
  font-size: 14px;
  color: #7f8ea3;
}
.submit-btn button {
  margin-top: 50px;
  padding: 10px 0;
}
.submit-btn button:hover {
  color: #fff;
}
/*responsive-style*/
@media (max-width: 992px) {
  #login-page {
    background-position: 0% 0%;
  }
}
@media (max-width: 660px) {
  #login-page {
    background-size: 150%;
  }
}
@media (max-width: 480px) {
  #login-page {
    background-size: 200%;
  }
  .login-area {
    width: 90%;
  }
  .form-title {
    padding: 10px 0;
  }
  .login-area {
    top: 50%;
  }
  .submit-btn button {
    margin-top: 20px;
  }
  .common-style-form input.form-control {
    height: 40px;
  }
  form.login {
    padding: 20px;
  }
}
