.gmi-picker-panel.gmi-date-range-picker.has-time {
  background: #243145;
  border-radius: 5px;
}
.gmi-picker-panel__footer {
  display: none;
}
.gmi-picker-panel__body__header--time {
  float: left;
  width: 100%;
  min-height: 40px;
  border: none !important;
}
input.gmi-input__inner.gmi-time-picker--input {
  display: none;
}
.gmi-picker-panel__body__header--time__wrapper .gmi-input__inner {
  background: #172232;
  border: none;
  color: #ffffff;
  font-size: 16px;
  text-align: right;
  width: 262px;
  border-radius: 3px;
  height: 38px;
  padding: 10px;
  margin: 0 auto;
}
.gmi-picker-panel__body__header--time__wrapper .gmi-input__inner:hover {
  border: none;
}
.gmi-picker-panel__body__header--time {
  list-style-type: none;
}
.gmi-date-range-picker.has-time {
  width: 688px;
  padding-bottom: 20px;
}
.gmi-date-range-picker__header--time__wrapper .gmi-input {
  width: 100%;
}
.gmi-date-range-picker .f-lt {
  border-right: 1px solid #172232;
}
.gmi-picker-panel__body__header--time {
  padding: 20px 0;
}
.gmi-picker-panel .gmi-date-table th {
  padding: 5px;
  color: #d7ddf9;
  font-weight: bold;
  text-transform: capitalize;
}
.gmi-picker-panel .gmi-date-table td.end-date,
.gmi-picker-panel .gmi-date-table td.start-date {
  background-color: #03cae8;
}
.gmi-picker-panel .gmi-date-table td.end-date:hover,
.gmi-picker-panel .gmi-date-table td.start-date:hover {
  background-color: #0093a9!important;
}
.gmi-date-range-picker__body__header {
  font-size: 16px;
  color: #888da4;
  text-transform: uppercase;
  font-weight: bold;
}
.gmi-picker-panel .gmi-date-table td {
  color: #fff;
}
.gmi-picker-panel .gmi-date-table td.prev-month {
  color: #5c6073;
}
.gmi-picker-panel.gmi-date-range-picker.has-time.placement-left-bottom {
  top: 396px !important;
  left: 376px !important;
}
.gmi-picker-panel.gmi-date-range-picker.has-time {
  top: 396px !important;
  left: 375px !important;
}
